@import "../../assets/sundries";

.reviews {
  background-color: #f5f5f5;
  padding: rem(90) 1rem 3rem 1rem;
}

.reviews__content {
  max-width: rem(1125);
  margin: 0 auto 0 auto;
}

.reviews__title {
  margin: 0;
  text-align: center;
  font-size: em(30);
  font-family: "Muller Bold", sans-serif;
  font-weight: bold;
}


.reviews__topics {
  display: flex;
  justify-content: center;
  margin: rem(78) auto 0 auto;
}

.reviews__topics-mobile {
  display: none;
}

.reviews__topic {
  padding: rem(12) rem(12) rem(10) rem(12);
  font-size: em(14);
  font-family: "Muller Medium", sans-serif;
  cursor: pointer;
  border: 2px solid #f5f5f5;
  border-radius: rem(4);
}

.reviews__topic:hover {
  color: #e50000;
}

.reviews__topic--active {
  border: 2px solid #e42626;
  border-radius: rem(4);
  color: #e50000;
}

.reviews-videos-wrapper {
  position: relative;
  display: flex;
  width: auto;
  margin-top: rem(80);
}

.reviews-video-wrapper {
  width: rem(940);
}

.reviews-videos__left-btn {
  @include back-img-contain("./images/left-arrow-inactive.png");
  width: rem(22);
  height: rem(16);
  margin-right: rem(70);
  margin-top: rem(97);
  cursor: pointer;
}

.reviews-videos__right-btn {
  @include back-img-contain("./images/right-arrow-inactive.png");
  width: rem(22);
  height: rem(16);
  margin-left: rem(70);
  margin-top: rem(97);
  cursor: pointer;
}

.reviews-videos {
  display: flex;
  width: rem(940);
  overflow: hidden;
}

.reviews-video-wrapper {
  width: rem(300);
  margin-right: rem(19);
  cursor: pointer;
}

.reviews-video-wrapper:nth-child(1) .reviews-video {
  @include back-img-cover("./images/vid1.jpg");
  width: rem(300);
  height: rem(210);
}

.reviews-video-wrapper:nth-child(2) .reviews-video {
   @include back-img-cover("./images/vid2.jpg");
   width: rem(300);
   height: rem(210);
}

.reviews-video-wrapper:nth-child(3) .reviews-video {
  @include back-img-cover("./images/vid3.jpg");
  width: rem(300);
  height: rem(210);
}

.reviews-video-wrapper:nth-child(4) .reviews-video {
  @include back-img-cover("./images/vid1.jpg");
  width: rem(300);
  height: rem(210);
}

.reviews-video-wrapper:nth-child(5) .reviews-video {
  @include back-img-cover("./images/vid2.jpg");
  width: rem(300);
  height: rem(210);
}
.reviews-video-wrapper:nth-child(6) .reviews-video {
  @include back-img-cover("./images/vid3.jpg");
  width: rem(300);
  height: rem(210);
}
.reviews-video-wrapper:nth-child(7) .reviews-video {
  @include back-img-cover("./images/vid1.jpg");
  width: rem(300);
  height: rem(210);
}
.reviews-video-wrapper:nth-child(8) .reviews-video {
  @include back-img-cover("./images/vid2.jpg");
  width: rem(300);
  height: rem(210);
}
.reviews-video-wrapper:nth-child(9) .reviews-video {
  @include back-img-cover("./images/vid3.jpg");
  width: rem(300);
  height: rem(210);
}



.reviews-video__name {
  font-family: "Muller Light", sans-serif;
  font-weight: lighter;
  font-size: em(13);
  margin-top: rem(16);
}

.reviews-video-wrapper:hover .reviews-video__name {
  color: #e42626;
}
