@import "../../assets/sundries";

.tariff {
  background-color: #f5f5f5;
  padding-top: 1px;
  height: rem(1430);
}

.tariff__content {
  width: rem(945);
  margin: 0 auto 0 auto;
}

.tariff__title-1 {
  margin: rem(95) 0 0 0;
  font-family: "Muller Bold", sans-serif;
  font-weight: bold;
  font-size: em(30);
  color: #000000;
}

.tariff__title-2 {
  margin: rem(34) 0 0 0;
  font-family: "Muller Bold", sans-serif;
  font-weight: bold;
  font-size: em(18);
  line-height: em(25, 18);
  color: #000000;
}

.tariff__choose-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: rem(35);
}

.choose-card__btns {
  display: flex;
  width: rem(270);
  justify-content: space-between;
}

.choose-card__btn {
  padding: rem(12) rem(12) rem(10) rem(12);
  font-size: em(14);
  font-family: "Muller Medium", sans-serif;
  cursor: pointer;
  border: 2px solid #f5f5f5;
  border-radius: rem(4);
}

.choose-card__btn:hover {
  color: #e50000;
}

.choose-card__btn--active {
  border: 2px solid #e42626;
  border-radius: rem(4);
  color: #e50000;
}

.tariff-table {
  display: flex;
  margin-top: rem(35);
  background-color: #ffffff;
}

.tariff-table__column {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: rem(920);
  width: rem(945/3);
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
}

.tariff-table__column-top {
  margin-top: rem(45)
}

.tariff-table__column-name {
  text-align: center;
  font-family: "Muller Light", sans-serif;
  font-size: em(20);
  line-height: em(25, 20);
}

.tariff-table__column-name-bold {
  font-family: "Muller Bold", sans-serif;
}

.tariff-table__column-img {
  width: rem(202);
  height: rem(128);
  @include back-img-cover("./images/card-1.png");
  margin: rem(30) auto rem(30) auto;
}

.tariff-table__row {
  display: flex;
  justify-content: space-between;
  width: rem(280);
  margin: 0 auto 0 auto;
  font-size: em(11);
  font-family: "Muller Light", sans-serif;
  padding: 10px 20px;
  box-sizing: border-box;
  border-top: 1px solid #f5f5f5;
}

.tariff-table__column-bottom {
  text-align: center;
  margin-bottom: rem(50);
  font-family: "Muller Light", sans-serif;
  font-size: em(13);
}

.column-bottom__price {
  font-family: "Muller Bold", sans-serif;
  font-size: em(24, 13);
  margin-top: rem(10);
}

.column-bottom__consultation, .column-bottom__buy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(200);
  height: rem(55);
  margin: rem(30) auto rem(15) auto;
  background-color: #26b83a;
  border-radius: rem(4);
  font-family: "Muller Bold", sans-serif;
  font-size: em(18, 13);
  color: #ffffff;
  cursor: pointer;
}

.column-bottom__buy {
  background-color: #9a9a9a;
}
