@font-face {
  font-family: "Proxima Nova Light";
  src: url("fonts/ProximaNova Light.otf");
}
@font-face {
  font-family: "Proxima Nova Bold";
  src: url("fonts/ProximaNova Bold.otf");
}
@font-face {
  font-family: "Proxima Nova Extra Bold";
  src: url("fonts/ProximaNova ExtraBld.otf");
}
@font-face {
  font-family: "Muller Light";
  src: url("fonts/MullerLight.otf");
}
@font-face {
  font-family: "Muller Medium";
  src: url("fonts/MullerMedium.otf");
}
@font-face {
  font-family: "Muller Bold";
  src: url("fonts/MullerBold.otf");
}
@font-face {
  font-family: "Muller Regular";
  src: url("fonts/Muller Regular.ttf");
}



$browser-context: 16;

@function rem($pixels) {
  @return #{$pixels / 16}rem
}

@function em($pixels, $context: $browser-context) {
  @return #{$pixels / $context}em
}

@mixin back-img-cover($property) {
  background-image: url($property);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@mixin back-img-contain($property) {
  background-image: url($property);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}