@import "../src/assets/sundries.scss";


#root {
  min-width: 410px;
}

@media all and (max-width: 976px) {
  .header-1-menu {
    justify-content: center;
    width: auto;
  }

  .header-2-menu {
    width: auto;
  }

  .header-1-menu__item {
    margin-right: rem(6);
  }

  .header-1-menu__item:last-child {
    margin: 0;
  }

  .header-1__wrapper {
    width: auto;
  }

  .header-2__wrapper {
    width: rem(484);
  }

  .services__content {
    margin-top: 4rem;
    max-width: 45rem;
  }

  .service {

    width: 13rem;
  }

  .service__img-wrapper {
    width: 3.8rem;
  }

  .services__items {
    margin-left: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .about-us {
    height: 35.5rem;
    padding-top: 3rem;
    padding-bottom: 0;
  }

  .advantages__content {
    padding-bottom: 2rem;
  }

  .advantage-tables {
    flex-flow: column;
  }

  .advantage-table__column-1 {
    width: 25%;
    text-align: right;
  }

  .advantage-table__column-2, .advantage-table__column-3 {
    width: 30%;
    text-align: center;
  }

  .advantage-table-self {
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
  }

  .consultation__left {
    width: 80%;
  }

  .consultation__apps {
    width: 20%;
  }

  .consultation_app-1, .consultation_app-2 {
    width: 100%;
    height: 25%;
    background-size: contain;
  }

  .consultation_app-2 {
    margin-top: 5%;
  }

  .reviews-videos__right-btn {
    position: absolute;
    right: 1.2rem;
  }

  .reviews-videos__left-btn {
    position: absolute;
    left: 1.2rem;
  }

  .partners-firms__right-btn {
    position: absolute;
    right: 1.2rem;
  }

  .partners-firms__left-btn {
    position: absolute;
    left: 1.2rem;
  }
}



@media all and (max-width: 799px) {
  .header-1-menu__item {
    margin-right: rem(27);
  }

  .header-1-menu__item:nth-child(2),
  .header-1-menu__item:nth-child(3),
  .header-1-menu__item:nth-child(4) {
    display: none;
  }

  .header-2__wrapper {
    width: rem(368);
  }

  .header-2-menu__message {
    width: 8rem;
    text-align: center;
  }

  .header-2-menu__app-btn-1, .header-2-menu__app-btn-2 {
    height: rem(28);
    width: rem(28);
    margin-left: 0.625rem;
  }

  .personal-lawyer {
    height: 35rem;
  }

  .personal-lawyer__content {
    margin-top: 5.5rem;
  }

  .personal-lawyer__title-bold {
    font-size: 1.1em;
  }

  .statistics-item__name {
    font-size: 0.9em;
  }

  .advantages__content {
    padding-top: 4rem;
  }

  .advantages__title {
    font-size: 1.6em;
  }

  .advantage-tables {
    margin-top: 3.5rem;
  }

  .advantage-table__btn {
    width: rem(234);
  }

  .consultation {
    padding: 3rem 1rem;
  }

  .consultation__title {
    font-size: 1.6em;
  }

  .reviews {
    padding-top: 3rem;
  }

  .reviews__topics {
    margin-top: 3rem;
  }

  .reviews-videos-wrapper {
    margin-top: 2.5rem;
  }

  .partners {
    padding: 3rem 1rem;
  }

  .reviews__title, .partners__title, .how-it-works__title, .services__title {
    font-size: 1.6em;
  }

  .partners-firms-wrapper {
    margin-top: 3rem;
  }
}



@media all and (max-width: 750px) {
  .consultation__content {
    flex-flow: column;
  }

  .consultation__items {
    margin-top: 3rem;
  }

  .consultation__left {
    width: 100%;
  }

  .consultation__apps {
    display: flex;
    width: 100%;
    height: 4.5rem;
    margin-top: 3rem;
    justify-content: center;

    a {
      display: flex;
      align-items: center;
      width: 40%;
    }

    a:first-child {
      justify-content: flex-end;
    }

    a:last-child {
      margin-left: 2%;
    }
  }

  .consultation_app-1, .consultation_app-2 {
    margin: 0;
    height: 100%;
    width: 80%;
  }
}



@media all and (max-width: 680px) {
  .services__content {
    max-width: 35rem;
  }

  .service {
    margin-top: 2rem;
  }

  .services__items {
    margin-top: 1rem;
  }

  .advantages__title {
    font-size: 1.3em;
  }

  .advantage-table__btn {
    width: rem(175);
  }

  .advantage-table__column-1 {
    margin-right: 1rem;
    width: 26%;
  }
}


@media all and (max-width: 639px) {
  .header-1-menu__item:nth-child(1) {
    display: none;
  }

  .header-2-menu {
    flex-flow: column;
    height: auto;
    padding: 1rem;
  }

  .header-2__wrapper {
    padding-top: 0.8rem;
    width: rem(400);
  }

  .header-2-menu__message {
    width: auto;
  }

  .header-2-menu__number a {
    font-size: 1rem;
  }

  .personal-lawyer {
    height: rem(385);
  }

  .personal-lawyer__content {
    margin-top: 3rem;
  }

  .personal-lawyer__title {
    font-size: 1.3em;
    line-height: 1.4em;
  }

  .personal-lawyer__title-bold {
    font-size: 1em;
  }

  .personal-lawyer__text {
    font-size: 1.3em;
    margin-top: 1.5rem;
  }

  .personal-lawyer__button {
    margin-top: 2.5rem;
  }

  .about-us__statistics {
    margin: 0 auto;
    max-width: 25rem;
    flex-wrap: wrap;
  }

  .statistics__item {
    margin-top: 2rem;
  }

  .about-us {
    padding-bottom: 6rem;
  }

  .consultation__item {
    font-size: 1em;
  }

  .consultation__apps a {
    width: 50%;
  }

  .reviews__topics {
    margin-top: 2.3rem;
  }

  .reviews__topic {
    font-size: 0.7em;
    padding: 0.55rem 0.45rem 0.425rem 0.45rem;
  }
}



@media all and (max-width: 479px) {
  .header-1-menu {
    display: none;
  }

  .header-2__wrapper {
    flex-flow: column;
  }

  .header-2-menu__right {
    flex-flow: column;
  }

  .header-2-menu__number,
  .header-2-menu__app-btns {
    margin-top: 0.5rem;
  }

  .services__content {
    height: 55rem;
  }

  .services__items {
    margin: 0 auto;
    width: 18.5rem;
  }

  .service {
    width: 16.5rem;
    margin-left: 2rem;
  }

  .how-it-works__explanations {
    margin: 0 auto;
    max-width: 16.7rem;
    flex-flow: column;
  }

  .advantage-table__column-1, .advantage-table__column-2, .advantage-table__column-3 {
    font-size: 0.75em;
    height: rem(250);
  }

  .advantage-tables {
    margin-top: 2rem;
  }

  .advantage-table-self {
    flex-flow: column;
    margin-top: 1rem;
  }

  .advantage-table__btn {
    margin-top: 0.5rem;
    width: 100%;
  }

  .advantage-table__column-2, .advantage-table__column-3 {
    width: 32%;
  }

  .consultation__items {
    margin-top: 2rem;
  }

  .consultation_app-1, .consultation_app-2 {
    width: 100%;
  }

  .consultation__apps a {
    height: 6rem;
  }

  .consultation__apps {
    margin-top: 2.5rem;
  }

  .reviews__topics {
    display: none;
  }

  .reviews__topics-mobile {
    margin-top: 1rem;
    display: block;
  }
}

