@import "../src/assets/sundries.scss";


#root {
  min-width: 410px;
}

@media all and (max-width: 976px) {
  .header-1-menu {
    justify-content: center;
    width: auto;
  }

  .header-2-menu {
    width: auto;
  }

  .header-1-menu__item {
    margin-right: rem(6);
  }

  .header-1-menu__item:last-child {
    margin: 0;
  }

  .header-1__wrapper {
    width: auto;
  }

  .header-2__wrapper {
    width: rem(484);
  }

  .services__content {
    margin-top: 4rem;
    max-width: 45rem;
  }

  .service {

    width: 13rem;
  }

  .service__img-wrapper {
    width: 3.8rem;
  }

  .services__items {
    margin-left: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .about-us {
    height: 35.5rem;
    padding-top: 3rem;
    padding-bottom: 0;
  }

}



@media all and (max-width: 799px) {
  .header-1-menu__item {
    margin-right: rem(27);
  }

  .header-1-menu__item:nth-child(2),
  .header-1-menu__item:nth-child(3),
  .header-1-menu__item:nth-child(4) {
    display: none;
  }

  .header-2__wrapper {
    width: rem(368);
  }

  .header-2-menu__message {
    width: 8rem;
    text-align: center;
  }

  .header-2-menu__app-btn-1, .header-2-menu__app-btn-2 {
    height: rem(28);
    width: rem(28);
    margin-left: 0.625rem;
  }

  .personal-lawyer {
    height: 35rem;
  }

  .personal-lawyer__content {
    margin-top: 5.5rem;
  }

  .personal-lawyer__title-bold {
    font-size: 1.1em;
  }

  .statistics-item__name {
    font-size: 0.9em;
  }
}



@media all and (max-width: 680px) {
  .services__content {
    max-width: 35rem;
  }

  .service {
    margin-top: 2rem;
  }

  .services__title {
    font-size: 1.5em;
  }

  .services__items {
    margin-top: 1rem;
  }
}


@media all and (max-width: 639px) {
  .header-1-menu__item:nth-child(1) {
    display: none;
  }

  .header-2-menu {
    flex-flow: column;
    height: auto;
    padding: 1rem;
  }

  .header-2__wrapper {
    padding-top: 0.8rem;
    width: rem(400);
  }

  .header-2-menu__message {
    width: auto;
  }

  .header-2-menu__number a {
    font-size: 1rem;
  }

  .personal-lawyer {
    height: rem(385);
  }

  .personal-lawyer__content {
    margin-top: 3rem;
  }

  .personal-lawyer__title {
    font-size: 1.3em;
    line-height: 1.4em;
  }

  .personal-lawyer__title-bold {
    font-size: 1em;
  }

  .personal-lawyer__text {
    font-size: 1.3em;
    margin-top: 1.5rem;
  }

  .personal-lawyer__button {
    margin-top: 2.5rem;
  }

  .about-us__statistics {
    margin: 0 auto;
    max-width: 25rem;
    flex-wrap: wrap;
  }

  .statistics__item {
    margin-top: 2rem;
  }

  .about-us {
    padding-bottom: 6rem;
  }
}

@media all and (max-width: 479px) {
  .header-1-menu {
    display: none;
  }

  .header-2__wrapper {
    flex-flow: column;
  }

  .header-2-menu__right {
    flex-flow: column;
  }

  .header-2-menu__number,
  .header-2-menu__app-btns {
    margin-top: 0.5rem;
  }

  .services__content {
    height: 55rem;
  }

  .services__items {
    margin: 0 auto;
    width: 18.5rem;
  }

  .service {
    width: 16.5rem;
    margin-left: 2rem;
  }

  .how-it-works__explanations {
    margin: 0 auto;
    max-width: 16.7rem;
    flex-flow: column;
  }
}

