@import "../src/assets/sundries.scss";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root {
  min-width: 740px;
}

@media all and (max-width: 1442px) {
  html {
    font-size: 15px;
  }
}

@media all and (max-width: 1072px) {
  html {
    font-size: 14px;
  }
}

@media all and (max-width: 1001px) {
  html {
   font-size: 13px;
 }
}

@media all and (max-width: 931px) {
  html {
    font-size: 12px;
  }
}

@media all and (max-width: 861px) {
  html {
    font-size: 11px;
  }
}

@media all and (max-width: 790px) {
  html {
    font-size: 10px;
  }
}
